[submodule "WO_IST_MEINE_FERNBEDIENUNG"]
	path = WO_IST_MEINE_FERNBEDIENUNG
	url = git@github.com:OpaStefanVogel/WO_IST_MEINE_FERNBEDIENUNG.git
[submodule "RADIOPI"]
	path = RADIOPI
	url = git@github.com:OpaStefanVogel/RADIOPI.git
[submodule "ISOMORPHISM_GROUPS_PCLASS_2"]
	path = ISOMORPHISM_GROUPS_PCLASS_2
	url = git@github.com:OpaStefanVogel/ISOMORPHISM_GROUPS_PCLASS_2.git
[submodule "FORTY-FORTH"]
	path = FORTY-FORTH
	url = git@github.com:OpaStefanVogel/FORTY-FORTH.git
[submodule "BAKINGPI"]
	path = BAKINGPI
	url = git@github.com:OpaStefanVogel/BAKINGPI.git
[submodule "DRUECK_EINE_BUCHSTABENTASTE"]
	path = DRUECK_EINE_BUCHSTABENTASTE
	url = git@github.com:OpaStefanVogel/DRUECK_EINE_BUCHSTABENTASTE.git
[submodule "PLAUENER_MODELLEISENBAHN"]
	path = PLAUENER_MODELLEISENBAHN
	url = git@github.com:OpaStefanVogel/PLAUENER_MODELLEISENBAHN.git
[submodule "Easy_Elektro_-_Big_Fun"]
	path = Easy_Elektro_-_Big_Fun
	url = git@github.com:OpaStefanVogel/Easy_Elektro_-_Big_Fun.git
[submodule "HEIZUNGSPI"]
	path = HEIZUNGSPI
	url = git@github.com:OpaStefanVogel/HEIZUNGSPI.git
[submodule "MACHXO2"]
	path = MACHXO2
	url = git@github.com:OpaStefanVogel/MACHXO2.git
[submodule "KLETTERN_UND_RUTSCHEN"]
	path = KLETTERN_UND_RUTSCHEN
	url = git@github.com:OpaStefanVogel/KLETTERN_UND_RUTSCHEN.git
