[submodule "WO_IST_MEINE_FERNBEDIENUNG"]
	path = WO_IST_MEINE_FERNBEDIENUNG
	url = https://@github.com/OpaStefanVogel/WO_IST_MEINE_FERNBEDIENUNG
[submodule "KLETTERN_UND_RUTSCHEN"]
	path = KLETTERN_UND_RUTSCHEN
	url = https://@github.com/OpaStefanVogel/KLETTERN_UND_RUTSCHEN
[submodule "BAKINGPI"]
	path = BAKINGPI
	url = https://@github.com/OpaStefanVogel/BAKINGPI
[submodule "RADIOPI"]
	path = RADIOPI
	url = https://@github.com/OpaStefanVogel/RADIOPI
[submodule "ISOMORPHISM_GROUPS_PCLASS_2"]
	path = ISOMORPHISM_GROUPS_PCLASS_2
	url = https://@github.com/OpaStefanVogel/ISOMORPHISM_GROUPS_PCLASS_2
[submodule "PLAUENER_MODELLEISENBAHN"]
	path = PLAUENER_MODELLEISENBAHN
	url = https://@github.com/OpaStefanVogel/PLAUENER_MODELLEISENBAHN
[submodule "DRUECK_EINE_BUCHSTABENTASTE"]
	path = DRUECK_EINE_BUCHSTABENTASTE
	url = https://@github.com/OpaStefanVogel/DRUECK_EINE_BUCHSTABENTASTE
[submodule "FORTY-FORTH"]
	path = FORTY-FORTH
	url = https://@github.com/OpaStefanVogel/FORTY-FORTH
[submodule "Easy_Elektro_-_Big_Fun"]
	path = Easy_Elektro_-_Big_Fun
	url = https://@github.com/OpaStefanVogel/Easy_Elektro_-_Big_Fun
[submodule "HEIZUNGSPI"]
	path = HEIZUNGSPI
	url = https://@github.com/OpaStefanVogel/HEIZUNGSPI
[submodule "MACHXO2"]
	path = MACHXO2
	url = https://@github.com/OpaStefanVogel/MACHXO2
