[Desktop Entry]
Exec=lxterminal -e "ls;git pull;pcmanfm . ;mousepad githubio.desktop index.html Rezepte.xml&(sleep 4;gitk --all)&bash"
Type=Application
Path=/home/pi/Desktop/CLONE/
Terminal=false
StartupNotify=true
Icon=